/* App.css */

#MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  position: relative;
  z-index: 3;
  color: white;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.info > h1 {
  text-align: center;
}

.info > .scoreDiv {
  display: flex;
  flex-direction: column;
}

.scoreDiv > p {
  margin: 0;
}

h1,
#diffMenu {
  position: relative;
  align-self: center;
  z-index: 3;
  background-color: #1e1e1e;
  padding: 16px 24px;
  border-radius: 10px;
  color: #ffffff;
  margin: 0 auto;
  width: fit-content;
  border: 1px solid #333;
}

.scoreDiv {
  display: flex;
  flex-direction: column;
  margin-left: auto; /* pushes it to the right */
  position: relative;
  z-index: 3;
  background-color: #1e1e1e;
  padding: 16px 24px;
  border-radius: 10px;
  color: #ffffff;
  width: fit-content;
  border: 1px solid #333;
}

.scoreDiv {
  margin-left: auto;
}

.left-group {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
