html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #111;
  overflow: hidden;
}

.tv-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 40px;
  background: linear-gradient(145deg, #222, #000);
  box-shadow: 0 0 60px 12px rgba(10, 10, 10, 0.95),
    0 0 100px 25px rgba(10, 10, 10, 0.7);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 0;
}

.tv-background {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border-radius: 20px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: contrast(1.3) brightness(1.1) saturate(1.3);
  transform: perspective(1000px) rotateX(1deg);

  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.6), 0 0 30px rgba(0, 0, 0, 0.4);

  animation: flicker 0.2s infinite alternate;
  position: relative;
  overflow: hidden;
}
@keyframes flicker {
  0% {
    filter: brightness(1.15) contrast(1.05);
  }
  100% {
    filter: brightness(1.1) contrast(1.1);
  }
}

.tv-background::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.03) 1px,
    transparent 1px,
    transparent 4px
  );
  border-radius: 10px;
  z-index: 10;
}
